In [63]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, SGDRegressor, ElasticNet
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler,StandardScaler,OneHotEncoder, RobustScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from ydata_profiling import ProfileReport
%matplotlib inline

In [64]:
df = pd.read_csv("cleaned_car.csv")

In [69]:
colonnes = list(df.columns)
print(colonnes)

['CarName', 'carbody', 'drivewheel', 'wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'horsepower', 'citympg', 'highwaympg', 'price']

In [66]:
X = df[['CarName', 'carbody', 'drivewheel', 'wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'horsepower', 'citympg', 'highwaympg']
]
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=21)

minmax = MinMaxScaler()
X_train_min_max = minmax.fit_transform(X_train)

model = LinearRegression()

scores = cross_val_score(model, X_train_min_max, y_train, cv=5)

print(scores)
print(scores.mean())

[0.80331207 0.83094643 0.83325492 0.88706576 0.82587436]
0.8360907068440268

In [67]:
df

,CarName,carbody,drivewheel,wheelbase,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,horsepower,citympg,highwaympg,price
0,15,4,3,225.04,428.75,162.81,1155.75,4,4,130,8,3.47,111,21,27,13495.0
1,15,4,3,225.04,428.75,162.81,1155.75,4,4,130,8,3.47,111,21,27,16500.0
2,15,1,3,240.03,434.85,166.37,1280.49,5,6,152,8,2.68,154,19,26,16500.0
3,17,3,1,253.49,448.56,168.15,1060.05,1,4,109,8,3.19,102,24,30,13950.0
4,17,3,2,252.48,448.56,168.66,1280.94,1,5,136,8,3.19,115,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,18,3,3,277.11,479.55,175.01,1339.00,1,4,141,8,3.78,114,23,28,16845.0
201,18,3,3,277.11,479.55,174.75,1383.00,1,4,141,8,3.78,160,19,25,19045.0
202,18,3,3,277.11,479.55,175.01,1366.22,5,6,173,8,3.58,134,18,23,21485.0
203,18,3,3,277.11,479.55,175.01,1459.21,1,6,145,7,3.01,106,26,27,22470.0
204,18,3,3,277.11,479.55,175.01,1388.90,1,4,141,8,3.78,114,19,25,22625.0

In [68]:
y = df['price']
X = df[['CarName', 'carbody', 'drivewheel', 'wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'horsepower', 'citympg', 'highwaympg']]
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=21)

numeric_features = ['wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginesize', 'boreratio', 'horsepower', 'citympg', 'highwaympg', 'cylindernumber']
numeric_transformer = Pipeline([
    ('stdscaler', MinMaxScaler()),  
])
categorial_features = ['CarName','carbody', 'drivewheel', 'enginetype', 'fuelsystem']
categorical_transformer = OneHotEncoder(handle_unknown='infrequent_if_exist')

preprocessor = ColumnTransformer(
    remainder="passthrough",
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorial_features)
    ]
)

model = LinearRegression()

pipe = Pipeline([
    ('prep', preprocessor),
    ('model', model)
])

pipe.fit(X_train, y_train)
pipe.predict(X_test)
pipe.score(X_test, y_test)

0.8808515697392786